{% extends "base.html" %}

{% block title %}Route information{% endblock %}

{% block content %}
<div style="max-width: auto; margin: 0 auto;">
    <h1 class="display-5 text-center">Information about your all routes</h1><br>
    <div style="display: flex; flex-direction: column;"></div>
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="table-responsive">
                <table class="table table-striped table-auto-width mt-4">
                    {% if routes %}
                    <table class="table table-striped table-auto-width">
                        <thead class="thead-dark">
                            <tr>
                                <th>Route</th>
                                <th>Length route</th>
                                <th>Travel time</th>
                                <th>Avoid</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for route in routes %}
                            <tr>
                                <td>{{ route.origin }} - {{ route.destination }}</td>
                                <td>{{ route.length_route }}</td>
                                <td>{{ route.travel_time }}</td>
                                <td>
                                    {% for avoid in route.avoid.split(',') %}
                                    <span class="badge badge-secondary">{{ avoid.strip() }}</span>
                                    {% endfor %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                </table>
            </div>
            <div class="d-flex justify-content-center">
                <div class="text-center" style="padding-top: 10px; margin-top: 10px">
                <a href="{{ url_for('views.home') }}" class="btn btn-primary">Home Page</a>
              </div>
              <div>
                <div style="margin-right: 5px;">
                </div>
              </div>
              <div class="text-center" style="padding-top: 10px; margin-top: 10px">
                <a href="{{ url_for('views.details') }}" class="btn btn-primary">Your Last Route</a>
              </div>
            </div>
            <br>
        </div>
    </div>
{% endblock %}